<!-- main app container -->
<div [ngStyle]="{'font-size': '40px'}">Dashboard</div>
<hr/>
<img *ngIf="loading" class="pl-2" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
<div *ngIf="!loading">
    <div *ngFor="let module of modules">
        <div [ngStyle]="{'font-size': '30px', 'margin-bottom': '15px'}">{{ module.room }}</div>
        <div *ngFor="let device of module.devices"> 
            <div *ngIf="device.type == 'heater'">
                <!-- <div>{{ device.name }}, {{ device.type }}, {{ device.data.temperature }}</div> -->
                <div>Temperature: {{device.data.temperature}}°C</div>
                <mat-slider
                    thumbLabel
                    [displayWith]="formatLabel"
                    tickInterval="1"
                    min="0"
                    max="30"
                    [ngStyle]="{'margin-bottom': '10px'}"
                    value={{device.data.temperature}}>
                </mat-slider>
            </div>
            <div *ngIf="device.type == 'light'">
                <!-- <div>{{ device.name }}, {{ device.type }}, {{ device.data.state }}</div> -->
                <div [ngStyle]="{'margin-bottom': '10px'}">Light</div>
                <div *ngIf="device.data.state == '1'"><button class="btn btn-primary">Turn off</button></div>
                <div *ngIf="device.data.state == '0'"><button mat-raised-button color="warn">Turn on</button></div>
            </div>
        </div>
    <hr/>
    </div>
</div>